.small {
	font-size: 1.2em;
	margin-bottom: 2em;
}

.base {
	font-size: 1.6em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.medium {
	font-size: 2em;
	line-height: 1.4em;
	margin-bottom: 1.2em;
}

.large {
	font-size: 2.6em;
	line-height: 1.3em;
	margin-bottom: 0.93em;
}

.xlarge {
	font-size: 4.2em;
	line-height: 1.25em;
	margin-bottom: 0.58em;
}

.xxlarge {
	font-size: 6.8em;
	line-height: 1.15em;
	margin-bottom: 0.36em;
}

.huge {
	font-size: 11em;
	line-height: 1.1em;
	margin-bottom: 0.22em;
}
