.components {
	border-bottom: 1px solid #3E9CA4;
	padding: 50px 0;
}

.icon-show {
	li {
		background-color: #D3DDBB;
		height: 70px;
		line-height: 50px;
		margin-left: 1px;
		width: 70px;
		text-align: center;
		&:first-child {
			margin-left: 0;
		}
		.icon {
			vertical-align: middle;
		}
		strong {
			display: block;
			line-height: 1.5em;
		}
	}
}
