/*= little reset
---------------------------------------------------------------------------- */
body, head, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li, dd, dt, dl, form, fieldset, input, textarea, button {
  border: none;
  font-size: 1em;
  font-weight: 300;
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

img {
  display: block; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.5; }

pre {
  background-color: #D3DDBB;
  color: #404040;
  font-size: 1.3em;
  margin: 5px 0;
  padding: 15px; }

.center {
  text-align: center; }

.m-wrapper {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 10px;
  position: relative; }

#main-header {
  background-color: #446E86;
  color: #D3DDBB;
  padding: 20px 0; }

.components {
  border-bottom: 1px solid #3E9CA4;
  padding: 50px 0; }

.small {
  font-size: 1.2em;
  margin-bottom: 2em; }

.base {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

.medium {
  font-size: 2em;
  line-height: 1.4em;
  margin-bottom: 1.2em; }

.large {
  font-size: 2.6em;
  line-height: 1.3em;
  margin-bottom: 0.93em; }

.xlarge {
  font-size: 4.2em;
  line-height: 1.25em;
  margin-bottom: 0.58em; }

.xxlarge {
  font-size: 6.8em;
  line-height: 1.15em;
  margin-bottom: 0.36em; }

.huge {
  font-size: 11em;
  line-height: 1.1em;
  margin-bottom: 0.22em; }

.btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6em;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .btn.btn-primary {
    background-color: #3E9CA4; }
  .btn.btn-success {
    background-color: #83B592; }
  .btn.btn-info {
    background-color: #C1CAAF; }
  .btn.btn-warning {
    background-color: #E5D8A4; }
  .btn.btn-danger {
    background-color: #E16B5D; }

.ordered-list {
  padding-left: 30px;
  counter-reset: sekcja; }
  .ordered-list li {
    position: relative; }
    .ordered-list li:before {
      counter-increment: sekcja;
      content: counters(sekcja,"") ".";
      display: block;
      left: -30px;
      position: absolute;
      top: 0;
      width: 25px;
      text-align: right; }

.inline-list:after {
  content: "";
  display: table;
  clear: both; }
.inline-list li {
  float: left; }

.icon {
  background-image: url("/images/icons/example-icons.png");
  display: inline-block; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .icon {
      background-image: url("/images/icons/example-icons_2x.png");
      background-size: 119px 20px; } }

.i-marker {
  height: 20px;
  width: 12px; }

.i-magnifier {
  background-position: -13px 0;
  height: 18px;
  width: 18px; }

.i-basket {
  background-position: -32px 0;
  height: 15px;
  width: 22px; }

.i-envelop {
  background-position: -55px 0;
  height: 12px;
  width: 18px; }

.i-calendar {
  background-position: -74px 0;
  height: 18px;
  width: 17px; }

.i-people {
  background-position: -92px 0;
  height: 18px;
  width: 27px; }
